In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Tinder_Millennial_Match/train_set_label.csv")

In [3]:
df = train_data.copy()

In [4]:
df.head()

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0

In [5]:
df.shape

(1896, 7)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1896 entries, 0 to 1895
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        1896 non-null   float64
 1   Segment type              1896 non-null   object
 2   Segment Description       1896 non-null   object
 3   Answer                    1896 non-null   object
 4   Count                     1896 non-null   float64
 5   Percentage                1896 non-null   float64
 6   It became a relationship  1896 non-null   int64
dtypes: float64(3), int64(1), object(3)
memory usage: 103.8+ KB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,1896.0,292999.394750,227.809806,292881.0,292888.196925,292893.904400,292902.568750,293785.0
Count,1896.0,446.881267,494.110578,0.0,0.000000,400.439633,845.560798,1969.0
Percentage,1896.0,0.254098,0.220809,0.0,0.000000,0.257873,0.396787,1.0
It became a relationship,1896.0,0.350738,0.477327,0.0,0.000000,0.000000,1.000000,1.0

In [8]:
df.nunique()

ID                          1888
Segment type                   4
Segment Description          148
Answer                         3
Count                       1125
Percentage                  1172
It became a relationship       2
dtype: int64

In [9]:
df['Segment Description'].unique()

array(['Meridian, Idaho', 'University of Iowa',
       'University of Wisconsin-Madison',
       'University of California, Davis',
       'University of California, San Diego', 'Cal Poly San Luis Obispo',
       'Wesleyan University', 'University of Delaware', 'Ohio University',
       'University of California, Santa Cruz',
       'University of Colorado Boulder',
       'Rochester Institute of Technology', 'Morehead State University',
       'University of Georgia', 'Southern Methodist University',
       'University of Miami', 'University of Arizona',
       'Sacred Heart University', 'Northern Illinois University',
       'Yale University', 'University of Washington',
       'University of Central Florida', 'Ithaca College',
       'University of North Carolina', 'Loyola University Maryland',
       'Westport, CT', 'University of Pittsburgh',
       'Johns Hopkins University', 'Indiana University',
       'Vanderbilt University', 'Miami University (Ohio)',
       'Massachusetts Institute of Technology',
       'Michigan Technological University', 'Colby College',
       'University of Tampa', 'Chapman University',
       'Washington University in St. Louis', 'Boston University',
       'Gonzaga University', 'Dartmouth College', 'Mobile respondents',
       'Santa Clara University', 'University of Mississippi',
       'Appalachian State University', 'Tufts University',
       'Male respondents', 'Randolph-Macon College',
       'University of Pennsylvania', 'Ohio State University',
       'University of Buffalo', 'New York University',
       'Florida International University', 'University of Notre Dame',
       'United States Naval Academy', 'University of Denver',
       'University of Central Oklahoma', 'Union College',
       'Columbia University', 'Cornell University',
       'University of Tennessee', 'Washington State University',
       'Northern Arizona University', 'Butler University',
       'University of Missouri', 'University of Maryland',
       'Colorado State University',
       'University of California, Los Angeles', 'Stanford University',
       'University of Rochester', 'University of Arkansas',
       'University of Oregon', 'University of Virginia',
       'Arizona State University', 'University of California, Berkeley',
       'Purdue University', 'University of Chicago',
       'Brigham Young University', 'Princeton University',
       'Cal State Northridge', 'St. Lawrence University',
       'University of Wisconsin, Eau Claire', 'Arkansas State University',
       'Carnegie Mellon University', 'Case Western Reserve University',
       'Marquette University', 'Texas Christian University',
       'Old Dominion University', 'Female respondents',
       'University of Wisconsin-La Crosse', 'Vassar College',
       'Williams College', 'Illinois State', 'University of Connecticut',
       'University of Kentucky', 'Roger Williams University',
       'University of Texas', 'Northwestern University',
       'University of Illinois', 'University of Alabama',
       'Georgetown University', 'Quinnipiac University',
       'University of California, Santa Barbara', 'Baylor University',
       'Clemson University', 'Loyola Marymount University',
       'Pepperdine University', 'University of Kansas',
       'University of Richmond', 'Texas A&M University',
       'University of Southern California', 'University of Minnesota',
       'Syracuse University', 'Michigan State University',
       'University of Florida', 'Boston College', 'University of Dayton',
       'Mississippi State University', 'Skidmore College',
       'Penn State University', 'Middlebury College',
       'University of Michigan', 'Elon University',
       'Whatsgoodly University', 'UMass Amherst',
       'James Madison University', 'Rice University ',
       'Providence College', 'Lehigh University', 'Emory University',
       'University of Wisconsin-Whitewater', 'University of Maine',
       'Auburn University', 'Florida State University',
       'Web-based respondents', 'University of St Andrews',
       'Duke University', 'George Washington University',
       'Louisiana State University', 'Centre College',
       'College of William and Mary', 'Castleton State College',
       'Texas Tech University', 'University of Oklahoma',
       'Harvard University', 'Iowa State University',
       'San Diego State University', 'Tulane University',
       'North Carolina State'], dtype=object)

In [10]:
df.head()

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0

In [11]:
df["It became a relationship"].value_counts()

0    1231
1     665
Name: It became a relationship, dtype: int64

In [12]:
1231/1896

0.6492616033755274

In [13]:
df1 = df.drop(["ID","Segment Description"],axis=1)
df1.head()

  Segment type Answer       Count  Percentage  It became a relationship
0          web     No    0.000000    0.000000                         0
1          web     No    0.000000    0.000000                         0
2       gender     No  499.173606    0.225255                         0
3          web     No    0.000000    0.000000                         0
4       gender     No  455.925963    0.211360                         0

In [14]:
df2 = pd.get_dummies(df1)
df2.head()

,Count,Percentage,It became a relationship,Segment type_gender,Segment type_mobile,Segment type_university,Segment type_web,Answer_I don't use Tinder,Answer_No,Answer_Yes
0,0.000000,0.000000,0,0,0,0,1,0,1,0
1,0.000000,0.000000,0,0,0,0,1,0,1,0
2,499.173606,0.225255,0,1,0,0,0,0,1,0
3,0.000000,0.000000,0,0,0,0,1,0,1,0
4,455.925963,0.211360,0,1,0,0,0,0,1,0

In [48]:
df2.shape

(1896, 10)

In [15]:
X = df2.drop("It became a relationship",axis=1)
y = df2["It became a relationship"]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [18]:
from xgboost import XGBClassifier

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
xgb_model = XGBClassifier()

In [21]:
def new_model(model):
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test,y_pred)
    
    return accuracy

In [22]:
new_model(xgb_model)

C:\Users\Saurav\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\Saurav\anaconda3\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

[21:06:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

0.9026315789473685

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
rfc_model = RandomForestClassifier()

In [25]:
new_model(rfc_model)

0.8973684210526316

### Neural Network

In [28]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

In [27]:
nn_model = Sequential()
nn_model.add(Dense(64,activation='relu',input_shape=(X.shape[1],))),
nn_model.add(Dense(32,activation='relu')),
nn_model.add(Dense(16,activation='relu')),
nn_model.add(Dense(8,activation='relu')),
nn_model.add(Dense(1,activation='sigmoid'))

In [29]:
nn_model.compile(optimizer='adam',loss='binary_crossentropy',metrics=["accuracy"])

In [31]:
history = nn_model.fit(X_train,y_train,batch_size=10,epochs=100,validation_split=0.2)

Epoch 1/100
122/122 [==============================] - 0s 2ms/step - loss: 0.5266 - accuracy: 0.6700 - val_loss: 0.4920 - val_accuracy: 0.6809
Epoch 2/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5259 - accuracy: 0.6675 - val_loss: 0.4926 - val_accuracy: 0.6809
Epoch 3/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5260 - accuracy: 0.6708 - val_loss: 0.4922 - val_accuracy: 0.6809
Epoch 4/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5261 - accuracy: 0.6683 - val_loss: 0.4927 - val_accuracy: 0.6809
Epoch 5/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5260 - accuracy: 0.6667 - val_loss: 0.4927 - val_accuracy: 0.6809
Epoch 6/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5259 - accuracy: 0.6700 - val_loss: 0.4928 - val_accuracy: 0.6809
Epoch 7/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5256 - accuracy: 0.6700 - val_loss: 0.4926 - val_accuracy: 0.6809
Epoch 8/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5331 - accuracy: 0.6617 - val_loss: 0.4920 - val_accuracy: 0.6842
Epoch 9/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5265 - accuracy: 0.6675 - val_loss: 0.4918 - val_accuracy: 0.6842
Epoch 10/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5260 - accuracy: 0.6683 - val_loss: 0.4929 - val_accuracy: 0.6842
Epoch 11/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5257 - accuracy: 0.6691 - val_loss: 0.4933 - val_accuracy: 0.6875
Epoch 12/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5260 - accuracy: 0.6700 - val_loss: 0.4928 - val_accuracy: 0.6875
Epoch 13/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5257 - accuracy: 0.6700 - val_loss: 0.4925 - val_accuracy: 0.6776
Epoch 14/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5256 - accuracy: 0.6691 - val_loss: 0.4933 - val_accuracy: 0.6842
Epoch 15/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5258 - accuracy: 0.6634 - val_loss: 0.4920 - val_accuracy: 0.6809
Epoch 16/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5257 - accuracy: 0.6675 - val_loss: 0.4934 - val_accuracy: 0.6875
Epoch 17/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5256 - accuracy: 0.6683 - val_loss: 0.4927 - val_accuracy: 0.6776
Epoch 18/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5250 - accuracy: 0.6691 - val_loss: 0.4924 - val_accuracy: 0.6776
Epoch 19/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5250 - accuracy: 0.6683 - val_loss: 0.4927 - val_accuracy: 0.6776
Epoch 20/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5252 - accuracy: 0.6667 - val_loss: 0.4930 - val_accuracy: 0.6809
Epoch 21/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5248 - accuracy: 0.6700 - val_loss: 0.4932 - val_accuracy: 0.6776
Epoch 22/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5253 - accuracy: 0.6667 - val_loss: 0.4930 - val_accuracy: 0.6776
Epoch 23/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5249 - accuracy: 0.6683 - val_loss: 0.4920 - val_accuracy: 0.6842
Epoch 24/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5249 - accuracy: 0.6708 - val_loss: 0.4922 - val_accuracy: 0.6875
Epoch 25/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5249 - accuracy: 0.6700 - val_loss: 0.4928 - val_accuracy: 0.6875
Epoch 26/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5246 - accuracy: 0.6683 - val_loss: 0.4933 - val_accuracy: 0.6842
Epoch 27/100
122/122 [==============================] - 0s 2ms/step - loss: 0.5250 - accuracy: 0.6683 - val_loss: 0.4929 - val_accuracy: 0.6875
Epoch 28/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5245 - accuracy: 0.6716 - val_loss: 0.4945 - val_accuracy: 0.6776
Epoch 29/100
122/122 [==============================] - 0s 2ms/step - loss: 0.5245 - accuracy: 0.6667 - val_loss: 0.4934 - val_accuracy: 0.6776
Epoch 30/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5244 - accuracy: 0.6691 - val_loss: 0.4938 - val_accuracy: 0.6809
Epoch 31/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5248 - accuracy: 0.6683 - val_loss: 0.4930 - val_accuracy: 0.6776
Epoch 32/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5243 - accuracy: 0.6667 - val_loss: 0.4926 - val_accuracy: 0.6875
Epoch 33/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5239 - accuracy: 0.6700 - val_loss: 0.4938 - val_accuracy: 0.6776
Epoch 34/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5242 - accuracy: 0.6724 - val_loss: 0.4939 - val_accuracy: 0.6875
Epoch 35/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5247 - accuracy: 0.6708 - val_loss: 0.4929 - val_accuracy: 0.6875
Epoch 36/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5241 - accuracy: 0.6691 - val_loss: 0.4925 - val_accuracy: 0.6908
Epoch 37/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5242 - accuracy: 0.6700 - val_loss: 0.4948 - val_accuracy: 0.6776
Epoch 38/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5241 - accuracy: 0.6708 - val_loss: 0.4949 - val_accuracy: 0.6842
Epoch 39/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5242 - accuracy: 0.6658 - val_loss: 0.4941 - val_accuracy: 0.6908
Epoch 40/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5238 - accuracy: 0.6667 - val_loss: 0.4917 - val_accuracy: 0.6809
Epoch 41/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5239 - accuracy: 0.6667 - val_loss: 0.4927 - val_accuracy: 0.6875
Epoch 42/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5241 - accuracy: 0.6700 - val_loss: 0.4952 - val_accuracy: 0.6875
Epoch 43/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5241 - accuracy: 0.6716 - val_loss: 0.4940 - val_accuracy: 0.6908
Epoch 44/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5232 - accuracy: 0.6700 - val_loss: 0.4947 - val_accuracy: 0.6875
Epoch 45/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5236 - accuracy: 0.6683 - val_loss: 0.4964 - val_accuracy: 0.6842
Epoch 46/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5230 - accuracy: 0.6650 - val_loss: 0.4938 - val_accuracy: 0.6908
Epoch 47/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5230 - accuracy: 0.6708 - val_loss: 0.4959 - val_accuracy: 0.6875
Epoch 48/100
122/122 [==============================] - 0s 2ms/step - loss: 0.5234 - accuracy: 0.6716 - val_loss: 0.4957 - val_accuracy: 0.6908
Epoch 49/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5235 - accuracy: 0.6700 - val_loss: 0.4947 - val_accuracy: 0.6908
Epoch 50/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5236 - accuracy: 0.6683 - val_loss: 0.4926 - val_accuracy: 0.6842
Epoch 51/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5229 - accuracy: 0.6708 - val_loss: 0.4919 - val_accuracy: 0.6809
Epoch 52/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5232 - accuracy: 0.6642 - val_loss: 0.4941 - val_accuracy: 0.6875
Epoch 53/100
122/122 [==============================] - 0s 2ms/step - loss: 0.5229 - accuracy: 0.6700 - val_loss: 0.4935 - val_accuracy: 0.6875
Epoch 54/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5228 - accuracy: 0.6708 - val_loss: 0.4957 - val_accuracy: 0.6875
Epoch 55/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5224 - accuracy: 0.6691 - val_loss: 0.4935 - val_accuracy: 0.6875
Epoch 56/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5223 - accuracy: 0.6700 - val_loss: 0.4942 - val_accuracy: 0.6842
Epoch 57/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5337 - accuracy: 0.6625 - val_loss: 0.4958 - val_accuracy: 0.6743
Epoch 58/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5231 - accuracy: 0.6667 - val_loss: 0.5027 - val_accuracy: 0.6645
Epoch 59/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5228 - accuracy: 0.6650 - val_loss: 0.4934 - val_accuracy: 0.6776
Epoch 60/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5225 - accuracy: 0.6667 - val_loss: 0.4959 - val_accuracy: 0.6711
Epoch 61/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5226 - accuracy: 0.6667 - val_loss: 0.4960 - val_accuracy: 0.6711
Epoch 62/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5223 - accuracy: 0.6708 - val_loss: 0.4935 - val_accuracy: 0.6809
Epoch 63/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5223 - accuracy: 0.6716 - val_loss: 0.4931 - val_accuracy: 0.6809
Epoch 64/100
122/122 [==============================] - 0s 2ms/step - loss: 0.5223 - accuracy: 0.6691 - val_loss: 0.4948 - val_accuracy: 0.6711
Epoch 65/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5217 - accuracy: 0.6708 - val_loss: 0.4965 - val_accuracy: 0.6743
Epoch 66/100
122/122 [==============================] - 0s 2ms/step - loss: 0.5219 - accuracy: 0.6700 - val_loss: 0.4941 - val_accuracy: 0.6711
Epoch 67/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5224 - accuracy: 0.6683 - val_loss: 0.4934 - val_accuracy: 0.6809
Epoch 68/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5215 - accuracy: 0.6716 - val_loss: 0.4937 - val_accuracy: 0.6809
Epoch 69/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5216 - accuracy: 0.6691 - val_loss: 0.4938 - val_accuracy: 0.6711
Epoch 70/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5218 - accuracy: 0.6716 - val_loss: 0.4952 - val_accuracy: 0.6711
Epoch 71/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5216 - accuracy: 0.6691 - val_loss: 0.4932 - val_accuracy: 0.6842
Epoch 72/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5211 - accuracy: 0.6708 - val_loss: 0.4935 - val_accuracy: 0.6809
Epoch 73/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5214 - accuracy: 0.6724 - val_loss: 0.4934 - val_accuracy: 0.6809
Epoch 74/100
122/122 [==============================] - 0s 2ms/step - loss: 0.5214 - accuracy: 0.6708 - val_loss: 0.4922 - val_accuracy: 0.6941
Epoch 75/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5218 - accuracy: 0.6683 - val_loss: 0.4930 - val_accuracy: 0.6809
Epoch 76/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5210 - accuracy: 0.6724 - val_loss: 0.4908 - val_accuracy: 0.6875
Epoch 77/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5208 - accuracy: 0.6716 - val_loss: 0.4915 - val_accuracy: 0.6809
Epoch 78/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5208 - accuracy: 0.6716 - val_loss: 0.4934 - val_accuracy: 0.6809
Epoch 79/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5446 - accuracy: 0.6724 - val_loss: 0.4989 - val_accuracy: 0.6711
Epoch 80/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5210 - accuracy: 0.6691 - val_loss: 0.4880 - val_accuracy: 0.7007
Epoch 81/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5208 - accuracy: 0.6724 - val_loss: 0.4940 - val_accuracy: 0.6809
Epoch 82/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5208 - accuracy: 0.6675 - val_loss: 0.4914 - val_accuracy: 0.6974
Epoch 83/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5202 - accuracy: 0.6741 - val_loss: 0.4990 - val_accuracy: 0.6711
Epoch 84/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5199 - accuracy: 0.6741 - val_loss: 0.4947 - val_accuracy: 0.6809
Epoch 85/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5200 - accuracy: 0.6724 - val_loss: 0.4906 - val_accuracy: 0.6941
Epoch 86/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5199 - accuracy: 0.6733 - val_loss: 0.4942 - val_accuracy: 0.6809
Epoch 87/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5197 - accuracy: 0.6741 - val_loss: 0.4973 - val_accuracy: 0.6809
Epoch 88/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5201 - accuracy: 0.6724 - val_loss: 0.4906 - val_accuracy: 0.6974
Epoch 89/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5195 - accuracy: 0.6766 - val_loss: 0.4933 - val_accuracy: 0.6908
Epoch 90/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5188 - accuracy: 0.6749 - val_loss: 0.4921 - val_accuracy: 0.6974
Epoch 91/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5196 - accuracy: 0.6741 - val_loss: 0.4950 - val_accuracy: 0.6908
Epoch 92/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5190 - accuracy: 0.6757 - val_loss: 0.4993 - val_accuracy: 0.6711
Epoch 93/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5185 - accuracy: 0.6749 - val_loss: 0.4907 - val_accuracy: 0.6974
Epoch 94/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5190 - accuracy: 0.6733 - val_loss: 0.4958 - val_accuracy: 0.6908
Epoch 95/100
122/122 [==============================] - 0s 2ms/step - loss: 0.5191 - accuracy: 0.6708 - val_loss: 0.4904 - val_accuracy: 0.7007
Epoch 96/100
122/122 [==============================] - 0s 2ms/step - loss: 0.5187 - accuracy: 0.6741 - val_loss: 0.4940 - val_accuracy: 0.6809
Epoch 97/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5186 - accuracy: 0.6757 - val_loss: 0.4941 - val_accuracy: 0.6974
Epoch 98/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5180 - accuracy: 0.6757 - val_loss: 0.5028 - val_accuracy: 0.6711
Epoch 99/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5192 - accuracy: 0.6733 - val_loss: 0.4930 - val_accuracy: 0.6908
Epoch 100/100
122/122 [==============================] - 0s 1ms/step - loss: 0.5186 - accuracy: 0.6691 - val_loss: 0.4905 - val_accuracy: 0.7007

### Seems Like XGBOOST Performed Way better so we will use XGBOOST model

In [32]:
xgb_model.fit(X_train,y_train)

[21:15:34] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\Saurav\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [33]:
y_pred = xgb_model.predict(X_test)

C:\Users\Saurav\anaconda3\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

In [35]:
accuracy_score(y_test,y_pred)

0.9026315789473685

### Test Data

In [52]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Tinder_Millennial_Match/test_set_label.csv')

In [53]:
test_data.head()

,ID,Segment type,Segment Description,Answer,Count,Percentage
0,292974.2311,university,"University of California, Davis",Yes,0.230742,0.115371
1,292889.7996,web,"Meridian, Idaho",No,0.000000,0.000000
2,293724.0350,university,"Westport, CT",Yes,0.000000,0.000000
3,292884.0724,mobile,"Meridian, Idaho",No,1497.699982,0.388752
4,292882.0964,mobile,"Meridian, Idaho",No,1439.464988,0.373646

In [54]:
test_data.isnull().sum()

ID                     0
Segment type           0
Segment Description    0
Answer                 0
Count                  0
Percentage             0
dtype: int64

In [55]:
test_data = test_data.drop(["ID","Segment Description"],axis=1)
test_data.head()

  Segment type Answer        Count  Percentage
0   university    Yes     0.230742    0.115371
1          web     No     0.000000    0.000000
2   university    Yes     0.000000    0.000000
3       mobile     No  1497.699982    0.388752
4       mobile     No  1439.464988    0.373646

In [56]:
test_data = pd.get_dummies(test_data)
test_data.head()

,Count,Percentage,Segment type_gender,Segment type_mobile,Segment type_university,Segment type_web,Answer_I don't use Tinder,Answer_No,Answer_Yes
0,0.230742,0.115371,0,0,1,0,0,0,1
1,0.000000,0.000000,0,0,0,1,0,1,0
2,0.000000,0.000000,0,0,1,0,0,0,1
3,1497.699982,0.388752,0,1,0,0,0,1,0
4,1439.464988,0.373646,0,1,0,0,0,1,0

In [57]:
prediction = xgb_model.predict(test_data)

C:\Users\Saurav\anaconda3\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

In [58]:
submission_file = pd.DataFrame(prediction,columns=["prediction"])
submission_file

     prediction
0             1
1             0
2             1
3             0
4             0
..          ...
627           1
628           0
629           0
630           0
631           0

[632 rows x 1 columns]

In [59]:
submission_file.to_csv("final_submission.csv")